.container {
    padding: 24px;
  }
  
  form {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  input {
    background-color: transparent;
    padding:  10px;
    font-size: 20px;
    border: 2px solid #aaa;
    border-radius: 10px;
    flex-grow: 1;
    min-width: 0;
    outline: none;
    transition: border-color 0.3s ease;
  }

  
  button {
    background-color: #1976d2;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    margin: 0;
  }
  
  button:hover {
    background-color: #1565c0;
  }
  